@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;1,100&display=swap');


body{
    background-color: #1C1C1C;
    font-family: 'Poppins', sans-serif;;
}
.compactLayout{
    position:absolute;
    width:550px;
    height:550px;
    border:solid rgb(9, 241, 21) ;
    border-radius: 20px;
    left: 35%; top:15%;
    background: #ECFDF5;

}
h1{
    color:#2B283A;
    box-sizing: border-box;
    padding:20px;
    left:10px;

}
span{
    display: block;
    color:  #10B981;
}
p{
    color:#6B7280;
    box-sizing: border-box;
    padding:20px;
    left:10px;

}
.button{
    position:absolute;
    left: 20px;
}
button{
    box-sizing: border-box;
    border-radius: 5px;
    border:none;
    width:159px;height:24px;
    background-color: rgb(60, 241, 60);
    color:#FFFFFF;
    padding:5px;
   

}
button:hover{
    background-color: rgb(7, 153, 7);
}
.compactLayout hr{
   margin:60px;
    border:1px solid#D5D4D8;
    

}
#passwordTab1{
    display:inline-flex;
    box-sizing: border-box;
   
    width:211px;
    align-items: center;
    background: #273549;
    border-radius: 10px;
    height: 30px;
    margin: 10px ;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    color:  lightgreen;
}
#passwordTab2{
    box-sizing: border-box;
   
    width:211px;
    display:inline-flex;
    background: #273549;
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
  
    align-items: center;
    color:  lightgreen;
}